@using Microsoft.AspNetCore.Components.Web
@namespace HtmlEditorBlazorDemos.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.ico">
    <link href="css/site.css" rel="stylesheet">
    @(await Html.RenderComponentAsync<Theme>(RenderMode.Static))
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()
    <script src="_framework/blazor.server.js"></script>

    <script async src="_content/HtmlEditor.Blazor/HtmlEditor.Blazor.js"></script>
</body>
</html>
