.html-editor-link {
  .html-editor-link-text {
    vertical-align: middle;
  }
  .hei {
    font-size: inherit;
    vertical-align: middle;
  }
}

.html-editor-state-highlight {
  .link {
    color: $white;
  }
}
